@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #C6DBF0;
  /* --background: #8FC93A; */
  --foreground: #FDFFFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
