@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #C6DBF0;
  /* --background: #8FC93A; */
  --foreground: #FDFFFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Custom scrollbar for Webkit browsers */
.scroll-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #B8DAF4;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners for the thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #e5cdcd;
  /* Darker color when hovering */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}